body{
  margin: 0;
  padding: 0;
  
}
ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  
}
li {
  margin-top: 24px;
  float: left;
  font-size: 18px;
  font-weight: 500;
}

li a {
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}
li a:hover {
  border: 2px solid white;
  width: 50px;
  height: 20px;

}
.div1 {
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://drink818.com/static/c7cb22f5c95300a94d8eb26a7a1e7bd2/2f1b1/home-bg.jpg");
}
.txtAndPic {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: space-between;
}

.txt1 {
  width: 50%;
  height: 650px;
  background-color: #f0e7d1;
}
.txt2 {
  width: 50%;
  height: 650px;
  background-image: url("imgs/home.jpg")
